<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width = device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/1.1.1/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src = nutrition.js></script>
    <link rel="stylesheet" type="text/css" href="style_sheet.css">


    <title>Nutri</title>

</head>
<body>
<div class = "container-fluid">

    <nav class = "navbar navbar-default">


        <div class = "navbar-header">
            <a href="#" class="navbar-brand">Nutrition Blog</a>

        </div>

        <div>
            <ul class = "nav navbar-nav">
                <li class = "active"><a href="#">Nutri Content</a></li>
            </ul>
        </div>
    </nav>

    <div ng-app="nutrition_content" ng-controller="nutritioncontroller">

        <div id = "main">
            <label> Enter Food:
                <input type="text" name="input" ng-model="food">
            </label>

            <button id="btn" ng-click="getNutritionDetails()"> Nutrition Details </button>
            <button id="btn1" ng-click="getVoice()"> Speech </button>


        </div>
        <br/>
        <br/>
        <div class="nutrition">
            <p class="food" ng-bind-html-unsafe="foodcontents.html"></p>

        </div>
    </div>

</div>

</body>
</html>